header{
	padding-top: 1%;
	background-color: #0a4275;

}
.logo{
	width: 8%;
	border-radius: 10%;

}
.navform{
	float: right;
	margin: 28px 10px;
	max-width: 85%;
}
.navform .btn a{
	color: #EEE;
}
.invite{
	background-color: green;
}

.text{
	background-color: #dde8;
	min-height: 1300px;
	max-height: fit-content;
}

body{
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
ul{
	list-style-type: none;
}
ul.members{
	padding: 0 30px;
}
ul.members li img{
	width: 200px;
	height: 200px;
	border-radius: 300px;
	display: inline-block;
	object-fit: cover;
}
ul.members li{
	width: 100%;
	display: flex;
}
ul.members li:nth-child(odd){
	display: flex;
	flex-flow: row-reverse;
}
ul.members li .memInfo{
	display: inline-block;
	max-width: 70%;
	margin: 60px;
}
ul.members li .memName{
	font-size: 20pt;
}
ul.members li .memDesc{
	font-size: 12pt;
}
ul.newsBox{
	margin-top: 30px;
	padding: 0 30px;
}
ul.newsBox li{
	background-color: white;
	padding-bottom: 5px;
	border-radius: 20px;
	margin-bottom: 40px;
}
ul.newsBox li h2{
	background-color: #0a4275;
	border-radius: 20px 20px 0px 0px;
	text-indent: 10pt;
	padding: 10px;
	color: #eee;
}
ul.newsBox li p{
	padding: 5px 10px 0px 20px;
	overflow-y: hidden;
	max-height: 100px;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}
a{
	text-decoration: none;
	color: black;
}
.news{
	display: flex;
	justify-content: space-between;
}
.news article{
	width: 70%;
}
.news aside{
	width: 25%;
	margin: 25px 30px 30px 0;
	background-color: white;
	border-radius: 20px;
	padding: 0;
	min-height: 300px;
	height: fit-content;
}
.news aside h2{
	background-color: #0a4275;
	border-radius: 20px 20px 0 0;
	text-indent: 10pt;
	padding: 10px;
	color: #eee;
}
.logotip img{
	width: 30px;
	border-radius:300px;
	background-color: white;
}

