.header{
	padding-top: 1%;
	/*display: grid;
	grid-template-columns: 90% 10%;*/

}
.head{
	
	
}
.logo{
	width: 8%;
	border-radius: 10%;

}
.navform{
	margin-top: 3%;
	/*margin-left: 300px;*/

}
.divnav{
	
}
.invite{
	background-color: green;
}

.text{
	background-color: aqua;
}
ul.members{
	list-style-type: none;
}
.btn{
	float: right;
}